doctype html
html
	head
		title Coffee
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript" src="script.js")
	body
		block content
		.footer.col-sm-12.text-center
			p &copy 2016 DigitalCrafts Brews
